name: Benchmark

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 1 * *"

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Cache dependencies
        id: cache-dependencies
        uses: actions/cache@v2
        with:
          path: dependencies
          key: ${{ runner.os }}-dependencies-20201013

      - name: Build and install dependencies
        if: steps.cache-dependencies.outputs.cache-hit != 'true'
        run: sudo bash ./scripts/build-install.sh

      - name: Install dependencies
        if: steps.cache-dependencies.outputs.cache-hit == 'true'
        run: sudo bash ./scripts/install.sh

      - name: Configure
        run: cmake -S . -B build -DKLIB_BUILD_BENCHMARKS=ON
        env:
          CC: gcc-10
          CXX: g++-10

      - name: Build
        run: cmake --build build --config Release -j$(nproc)

      - name: Run benchmark(json)
        if: ${{ github.event_name == 'push' }}
        run: |
          ./build/benchmarks/benchmark --benchmark_out=benchmark-result.json \
          --benchmark_out_format=json

      - name: Run benchmark(txt)
        run: |
          ./build/benchmarks/benchmark --benchmark_out=benchmark-result.txt \
          --benchmark_out_format=console

      - name: Store benchmark result
        if: ${{ github.event_name == 'push' }}
        uses: rhysd/github-action-benchmark@v1
        with:
          name: C++ Benchmark
          tool: "googlecpp"
          output-file-path: benchmark-result.json
          fail-on-alert: false
          alert-threshold: "150%"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          comment-on-alert: true
          alert-comment-cc-users: "@KaiserLancelot"
          auto-push: true

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: benchmark
          path: benchmark-result.txt
          if-no-files-found: error
